#status_pending {
  background-color: orange;
  padding: 3px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#status_waiting {
  background-color: red;
  padding: 3px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#status_booked {
  background-color: green;
  padding: 3px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#delete_button {
  background-color: white;
  padding: 3px 7px;
  color: #DC143C;
  font-size: 8px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  bottom: 25px;
  text-shadow: none;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
}

#edit_button {
  background-color: white;
  padding: 3px 13px;
  color: orange;
  font-size: 8px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 55px;
  bottom: 25px;
  text-shadow: none;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
}
#confirm_button {
  background-color: white;
  padding: 3px 13px;
  color: green;
  font-size: 8px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  bottom: 25px;
  text-shadow: none;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
}

#edit_button:hover {
  opacity: 1;
}

#delete_button:hover {
  opacity: 1;
}

.jet_flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#title_leased {
  border-bottom: 3px solid rgb(230, 230, 230);
  border-radius: 3px;
  margin: 5px 0px 10px 0px;
  padding-bottom: 5px;
}

#title_rented {
  border-bottom: 3px solid rgb(230, 230, 230);
  border-radius: 3px;
  margin: 5px 0px 10px 0px;
  padding-bottom: 5px;
}

#no_jet_leased {
  border-bottom: 3px solid rgb(230, 230, 230);
  border-radius: 3px;
  margin: 0px;
  padding-bottom: 5px;
}

#calendar_pic {
  height: 300px;
  background-position: center;
  background-size:cover;
  border-radius: 2px;
}

#name_review_user {
  font-size: 20px;
}

#title_review_user {
  font-size: 13px;
  font-style: italic;
}

#content_review_user {
  font-size: 13px;
  font-style: italic;
}

// .jets_rented {
//   background-color: rgba(240, 240, 240, 0.4);
//   border: 1px solid rgba(240, 240, 240, 1);
//   border-radius: 5px;
//   border-shadow: 1px 1px 3px rgba(240, 240, 240, 1);
//   padding: 10px;
// }

// .jets-leased {
//   background-color: rgba(240, 240, 240, 0.4);
//   border: 1px solid rgba(240, 240, 240, 1);
//   border-radius: 5px;
//   border-shadow: 1px 1px 3px rgba(240, 240, 240, 1);
//   padding: 10px;
// }
