.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.main_title {
  margin-top: 30px;
  color: white;
  font-weight: bolder;
  font-size: 40px;
}

.main_form {
  margin-bottom: 150px;
}

  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  #main_form input {
    margin-top: 10px;
  }

.simple_form {
  background-color: white;
  padding: 15px 40px;
  border-radius: 4px;
}

.simple_form h3 {
  margin: 0px;
  margin-bottom: 20px;
}


