.container-show {
  margin-top: -150px;
  background-color: white;
  border-radius: 4px;
}

#new_booking {
  background-color: rgba(240,240,240, 0.8);
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.jet-details {
  padding-left: 50px;
}

.jet-parameters {
  color: rgb(75, 155, 221);
}

#review {
  background-color: rgba(240,240,240, 0.4);
  border-radius: 3px;
  padding-left: 10px;
  margin: 10px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#review_details {
  font-size: 13px;
  font-style: italic;
}

#review p {
  margin-bottom: 0;
}
