.jets_rented h3 {
  border-bottom: 1px solid black;
  margin: 0px;
  padding-bottom: 5px;
}

.user_photo_left {
  width: 100px;
}

.user_top {
  display: flex;
  justify-content: space-around;
  align-items:center;
}
