<h1>All your bookings</h1>

<h3>Rentings jets</h3>
<% @bookings.each do |booking| %>
  <p><%= booking.jet.name %></p>
<% end %>

<h3>Leasing jets</h3>
<% @my_bookings.each do |booking| %>
  <p><%= booking.jet.name %></p>
<% end %>

