<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="airplane_footage.mp4" type="video/mp4">
  </video>
  <div class="container h-100 text-right" style="align-items: center; justify-content: center" >
    <div class="d-flex h-100 text-center" style="align-items: center; justify-content: center">
      <div class="w-100 text-white">
<!--         <div class="col-sm-10 col-sm-offset"> -->
          <form action="/jets" class='simple_form' id="main_form" >
            <h3 style='font-weight: bolder'>Find your next flight.</h3>
            <input type="text" name="address" placeholder="Where?" id="jet_address" class='form-control' required>
            <input type="date" name="start_date" class=' form-control datepicker' placeholder="From" style='background-color: white' required >
            <input type="date" name="end_date" class=' form-control datepicker' placeholder="To" style='background-color: white' required>
            <input type="number" name="pax" class='form-control' placeholder="Passengers" min='1' required>
            <input type="submit" value="Search" class='btn btn-primary' style='margin-top: 20px; border-radius: 4px; padding: 3px 15px;'>
          </form>
      <!--   </div> -->
      </div>
    </div>
  </div>

</header>


