.banner-jet {
  background-size: cover;
  background-position: center;
  height: calc(70vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  size: cover;
}
