.card-min {
  height: 70px;
  width: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  // padding: 5px;
  // margin-top: 5px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding: 5px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 20px;
  border-radius: 4px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.card-city {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 15px;
}
.card-settings {
  font-size: 12px;
  opacity: 0.7;
  font-weight: lighter;
}
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
.card:hover {
  opacity: 0.7;
  background-color: white;
}
