<div class="container">
  <h1 style='text-align: center'> Write your review </h1>
  <%= simple_form_for [@jet, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <div class="button-center-form", style="text-align: center; margin-bottom: 10px;">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
